#Folder ignore
.vscode
**.gz
**.zip
data/.vscode
data/**/**.gz
data/**/**.rar
data/**/**.csv
data/**/**.info
data/**/**.sample
data/**/**.config.json
data/zarr
git-actions-practice/
**/genhelper/
__pycache__/
samtools*/
htslib*/
bcftools*/
data/test/rnn/
data/train/region/
**/**/**_private.*
**/sample_info/
**/*_private*/
**/zarr/