#Folder ignore
.vscode
**.gz
**.zip
data/.vscode
**.gz
**.gz.*
**.rar
**.csv
**.info
**.sample
**.config.json
**.rec
**.erate
git-actions-practice/
**/genhelper/
__pycache__/
samtools*/
htslib*/
bcftools*/
data/test/rnn/
data/train/region/
**/**/**_private.*
**/sample_info/
**/*_private*/
**/zarr/
**.zarr/